body {
    color: gray;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 50px;
   color: rgb(202, 53, 53); 
}

nav ul {
    list-style-type: none;
    padding: 50px;
}

nav li {
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color:  rgb(255, 0, 0);
    font-size: 20px;
}

main {
    padding: 30px;
  
}

img {
    width:50%;
    height: auto;
}

*{
    background-color: rgb(43, 40, 40)
}

h1 {
  color: white;
}

h2 {
    color:white;
}

.cor{
    color: brown;
}

p{
    color: white;
}

a:hover{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 3px;
    border-radius: 10px;
}