@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Prata&display=swap');


p{
    font-family: Nanum Myeongjo;
    font-size: 25px;
}


.tx1{
    font-size: 20px;
    margin-right: 1000px;
    display: flex;
    margin-top: 35px;
    margin-bottom: -400px;
}

.tx2{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 800px;
    display: flex;
}

.img1{
    height: 50vh;
    width: 45vw;
    min-width: 500px;
    display: flex;
    align-items: end;
    justify-content: right;
    margin-left: 950px;
    margin-top: -390px;
    margin-bottom: 40px;
}

h1{
    text-align: center;
    color: rgb(202, 53, 53);
    font-size: 55px;
}



a{
    color: rgb(255, 0, 0);
    display: flex;
    font-size: 25px;
}

li{
    list-style: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 3px;
    border-radius: 10px;
}

a:link{
    text-decoration: none;
}

nav{
    height: 10vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-family: Nanum Myeongjo;
}

*{
    background-color: rgb(43, 40, 40);
}

p{
    color: white;
}

h2{
    color: white;
    font-family: prata;
    margin-top: 40px;
}

.pris{
    height: 50vh;
    width: 38vw;
    min-width: 600px;
    display: flex;
    align-items: start;
    justify-content: left;
    margin-left: 20px;
    margin-top: -430px;
    margin-bottom: 40px;

}

.inc{
    margin-left: 1750px;
    display: flex;
}

h2{
    margin-top: 70px;
}